<h1>LIMS</h1>

<div class="jumbotron">
  <h1>Laboratory Information Management</h1>
  <p>A new way to track laboratory samples from reception to disposal</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>

<div class="section" id="section-thumbnails">
  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <%= image_tag("stock-photo-colony-of-blue-green-algae-in-culture-medium-plate-microbiology-595060190.jpg") %>
        <div class="caption">
          <h3>Customize Methods</h3>
          <p>Customize testing methods to meet your clients needs</p>
          <p><a href="#" class="btn btn-primary" role="button">Learn More</a></p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="thumbnail">
        <%= image_tag("stock-photo-businessman-hand-press-shield-security-virus-web-button-icon-304366307.jpg") %>
        <div class="caption">
          <h3>Customize Users</h3>
          <p>Custom user rolls keeps all data secure</p>
          <p><a href="#" class="btn btn-primary" role="button">Learn More</a></p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="thumbnail">
        <%= image_tag("stock-photo-iso-word-cloud-concept-on-black-background-414716491.jpg") %>
        <div class="caption">
          <h3>ISO Certified</h3>
          <p>ISO 17025 Compliant</p>
          <p><a href="#" class="btn btn-primary" role="button">Learn More</a></p>
        </div>
      </div>
    </div>
  </div>
</div>