<section class="hero is-info is-medium is-bold">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        Appert
      </h1>
      <h2 class="subtitle">
        An open source laboratory information management system
      </h2>
    </div>
  </div>
</section>

<div class="columns level" id="info">
  <div class="column is-4">
    <div class="card">
      <div class="card-image">
        <figure class="image is-4by3">
          <%= image_tag("stock-photo-colony-of-blue-green-algae-in-culture-medium-plate-microbiology-595060190.jpg") %>
        </figure>
      </div>
    </div>
    <div class="card-content">
      <div class="content has-text-centered">
        <p class="title">Customize Methods</p>
        <p>Custom methods to meet your needs</p>
      </div>
    </div>
  </div>

  <div class="column is-4">
    <div class="card">
      <div class="card-image">
        <%= image_tag("stock-photo-businessman-hand-press-shield-security-virus-web-button-icon-304366307.jpg") %>
      </div>
    </div>
    <div class="card-content">
      <div class="content has-text-centered">
        <p class="title">Customize Users</p>
        <p>Custom user rolls keeps your data secure</p>
      </div>
    </div>
  </div>
  
  <div class="column is-4">
    <div class="card">
      <div class="card-image">
        <%= image_tag("stock-photo-iso-word-cloud-concept-on-black-background-414716491.jpg") %>
      </div>
    </div>
    <div class="card-content">
      <div class="content has-text-centered">
        <p class="title">Compliant</p>
        <p>ISO, A2LA, USDA, FDA, AOAC Compliant</p>
      </div>
    </div>
  </div>
</div>
