<section class="hero is-info is-medium is-bold">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        Appert
      </h1>
      <h2 class="subtitle">
        An open source laboratory information management system
      </h2>
    </div>
  </div>
</section>

<div class="columns level" id="info">
  <div class="column is-4">
    <div class="card">
      <div class="card-image">
        <figure class="image is-4by3">
          <%= image_tag("stock-photo-colony-of-blue-green-algae-in-culture-medium-plate-microbiology-595060190.jpg") %>
        </figure>
      </div>
    </div>
    <div class="card-content">
      <div class="content has-text-centered">
        <p class="title">Customize Methods</p>
        <p>Custom methods to meet your needs</p>
      </div>
    </div>
  </div>

  <div class="column is-4">
    <div class="card">
      <div class="card-image">
        <%= image_tag("stock-photo-businessman-hand-press-shield-security-virus-web-button-icon-304366307.jpg") %>
      </div>
    </div>
    <div class="card-content">
      <div class="content has-text-centered">
        <p class="title">Customize Users</p>
        <p>Custom user rolls keeps your data secure</p>
      </div>
    </div>
  </div>
  
  <div class="column is-4">
    <div class="card">
      <div class="card-image">
        <%= image_tag("stock-photo-iso-word-cloud-concept-on-black-background-414716491.jpg") %>
      </div>
    </div>
    <div class="card-content">
      <div class="content has-text-centered">
        <p class="title">Compliant</p>
        <p>ISO, A2LA, USDA, FDA, AOAC Compliant</p>
      </div>
    </div>
  </div>
</div>

<div class="columns level" id="pricing">
  <div class="column">
    <div class="section-heading has-text-centered">
      <p>Pricing to fit your business needs</p>
    </div>
  </div>
</div>
<div class="columns level">
  <div class="column">
    <div class="card max-width-300">
      <div class="content has-text-centered">
        <p class="title">Startup</p>
        <i class="fa fa-group fa-5x" aria-hidden="true"></i>
        <p class="pricing">For businesses of less than 20 employees.</p>
        <p class="pricing">Includes interface customization, tech support, and a dedicated server. Plans start at $400/mo.</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card max-width-300">
      <div class="content has-text-centered">
        <p class="title">Enterprise</p>
        <i class="fa fa-id-card fa-5x" aria-hidden="true"></i>
        <p>For businesses with more than 20 employees.</p>
        <p>Includes 24/7 support, dedicated technical support and dedicated hosting plans.  Inquire for rates.</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card max-width-300">
      <div class="content has-text-centered">
        <p class="title">Open Source</p>
        <i class="fa fa-code-fork fa-5x" aria-hidden="true"></i>
        <p>Host it yourself</p>
        <p>Appert has always and will always be open source. Tweak, configure, and edit to your heart's content</p>
      </div>
    </div>
  </div>
</div>