<div class="field fieldset">
  <div class="control">
    <div class="column">
      <%= f.label :description, "Sample Description", class: 'label' %>
      <div class="field is-grouped">
        <%= f.text_field :description, class: 'input' %>
        <%= f.hidden_field :_destroy %>
        <%= link_to('#', class: "destroy_fields") do %>
          <i class="fa fa-trash-o" aria-hidden="true"></i>
        <% end %>
      </div>
    </div>
  </div>
</div>