<div class="form-fields">
  <div class="row">
    <%= f.label :test_method_id, "Test Method", class: 'col-md-2' %>
    <div class="col-md-6 method-select">
      <%= f.select(:test_method_id, options_for_select(@methods, selected: f.object.test_method_id), include_blank: true) %>
    </div>
    <%= link_to "Remove", 'javascript:void(0);',  class: "remove-link col-md-2" %>
  </div>
</div>