<h2>Index</h2>

<div class="columns">
  <div class="column is-half is-offset-one-quarter">
    <table class="table is-striped">
      <tr>
        <th>Batch ID</th>
        
        <th>Tests</th>
        <th>View</th>
      </tr>
      <% @batches.each do |b| %>
        <tr>
          <td><%= b.id %></td>
          <td><%= b.tests.count %></td>
          <td><%= button_to "View", batch_path(b), method: :get, class: 'button is-link'  %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>