<h2>New Batch</h2>

<div class="columns">
  <div class="column is-10 is-offset-1">
    <%= form_for @batch do |f| %>
      <div class="field">
        <%= f.label :test_method_id, "Method", class: 'label' %>
        <div class="select">
          <%= f.select :test_method_id, @available_methods %>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <%= f.submit class: 'button is-primary is-small' %>
        </div>
      </div>
        
    <% end %>
  </div>
</div>



