<footer class="footer hero is-primary is-bold">
  <div class="container">
    <div class="columns">
      <div class="column has-text-centered">
        Appert Labs<br />
        1749 Nicolas Ave.<br />
        San Mateo, CA 94401
      </div>
      <div class="column has-text-centered">
        Find us on Facebook<br />
        Find us on Twitter
      </div>
      <div class="column has-text-centered">
        <strong>Appert</strong> by <a href="http://www.andyduss.com">Andy Duss</a><br />
        CSS Framework by <a href="www.bulma.io">Bulma</a>
      </div>
    </div>
  </div>
</footer>