<div class="footer">
<div class="container">
  <div class="row-fluid">
    <div class="footer">
      <li><%= button_to "Admin Log In", new_admin_session_path, class: 'button is-link' %></li>
      <li><%= button_to "Analyst Log In", new_analyst_session_path, class: 'button is-link' %></li>
    </div>
  </div>
</div>
</div>