<div class="container">
  <div class="row-fluid">
    <div class="footer">
      <li><%= link_to "Admin Log In", new_admin_session_path %></li>
      <li><%= link_to "Analyst Log In", new_analyst_session_path %></li>
    </div>
  </div>
</div>